*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f8f9fb;
color:#222;
}

header{
position:sticky;
top:0;
background:#00b14f;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
box-shadow:0 5px 15px rgba(0,0,0,.1);
z-index:1000;
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-size:30px;
font-weight:700;
color:#fff;
}

.logo i{
font-size:34px;
}

.search-box{
position:relative;
width:420px;
max-width:100%;
}

.search-box input{
width:100%;
padding:14px 45px 14px 20px;
border:none;
border-radius:50px;
outline:none;
font-size:15px;
}

.search-box i{
position:absolute;
right:18px;
top:50%;
transform:translateY(-50%);
color:#777;
}

nav{
display:flex;
gap:20px;
flex-wrap:wrap;
}

nav a{
text-decoration:none;
color:white;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#ffe600;
}
